<!DOCTYPE html>
<html>
    <head>
        <title>All bookmarks</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <nav>
                <h1>
                    {% block head %}{% endblock head %}
                </h1>
                <form class="search" action="/search">
                    <input type="search" id="search" name="q" placeholder="Search..." />
                    <p>
                        <a class="emoji" href="https://www.sqlite.org/fts5.html#full_text_query_syntax">❔</a>
                    </p>
                </form>
                <ul>
                    <li> <a href="/all">All</a> </li>
                    <li> <a href="/tags">Tags</a> </li>
                    <li> <a href="/about">About</a> </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock main %}
        </main>
        <div class="right-bar">
            {% block rightbar %}{% endblock rightbar %}
            <form action="/search">
                <input type="date" class="choose-date" name="d" onchange="this.form.submit();">
            </form>
        </div>
    </body>
</html>