{% extends "base.html" %}
{% block head %} BookmarkID {{ id }} {% endblock head %}
{% block main %}
    <article>
        <form action="/edit-bookmark/{{ id }}" method="POST">
            <label for="bookmark-name">Name</label>
            <input required type="text" name="bookmark-name" value="{{ name }}" autocomplete="off">

            <label for="bookmark-url">URL</label>
            <input required type="text" name="bookmark-url" value="{{ url }}" autocomplete="off">

            <label for="bookmark-tags">Tags space-separated</label>
            <input type="text" id="bookmark-tags" name="tags"
                value="{{ tags | join(sep=" ") }}" placeholder="video programming" autocomplete="on">

            <button class="btn" type="submit">Save</button>
        </form>
    </article>
{% endblock main %}
{% block add %}{% endblock add %}