<article id="a{{ bookmark.id }}" hx-swap-oob="true">
    <script>
        fetch("http://localhost:3000/all-tags")
            .then(resp => resp.json())
            .then(all_tags => {
                const input = document.getElementById("bookmark-tags");
                const autocomplete = document.getElementById("autocomplete");
                input.addEventListener("input", updateValue);

                function updateValue(e) {
                    const last_word = e.target.value.split(" ").pop();
                    autocomplete.replaceChildren();

                    for (const tag of all_tags) {
                        if (tag.startsWith(last_word)) {
                            const li = document.createElement("li");
                            li.setAttribute("tabindex", "0");
                            li.textContent = tag;

                            // li.addEventListener("focus", (event) => {
                            li.addEventListener("keyup", (event) => {
                                event.preventDefault();
                                if (event.keyCode === 13) {
                                    let a = e.target.value.split(" ");
                                    a.pop();
                                    a.push(tag);
                                    e.target.value = a.join(" ");
                                    e.target.focus();
                                    autocomplete.replaceChildren();
                                }
                            });
                            li.addEventListener("click", (event) => {
                                let a = e.target.value.split(" ");
                                a.pop();
                                a.push(tag);
                                e.target.value = a.join(" ");
                                e.target.focus();
                                autocomplete.replaceChildren();
                            });
                            // });

                            autocomplete.appendChild(li);
                        }
                    }
                }
            });
    </script>
    <form class="edit-bookmark-form" hx-post="/edit-bookmark/{{ bookmark.id }}" hx-target="closest article">
        <label for="bookmark-name">Name</label>
        <input id="bookmark-name" class="edit-bookmark" required name="name" value="{{ bookmark.name }}" autocomplete="off">

        <label for="bookmark-url">URL</label>
        <input id="bookmark-url" class="edit-bookmark" required name="url" value="{{ bookmark.url }}" autocomplete="off">

        <label for="bookmark-description">Description</label>
        <textarea id="bookmark-description" class="edit-bookmark" name="description", placeholder="Enter bookmark description">{{ bookmark.description }}</textarea>

        <label for="bookmark-tags">Tags (space-separated)</label>
        <input id="bookmark-tags" class="edit-bookmark" name="tags"
            value="{{ bookmark.tags | join(' ') }}" placeholder="video programming" autocomplete="off">
        <ul id="autocomplete"></ul>

        <button class="btn">Save</button>
    </form>
</article>