{% extends "base.html" %}
{% block head %} Bookmarks {{ bookmarks_num }} {% endblock head %}
{% block main %}
    {% for bookmark in bookmarks %}
    <article class="h-entry">
        <div class="edit-bookmark-buttons">
            <a class="edit-bookmark-btn" href="/edit-bookmark/{{ bookmark.id }}">✏️</a>
            <a class="delete-bookmark-btn" href="/delete-bookmark/{{ bookmark.id }}">🗑️</a>
        </div>
        <h3 class="p-name"><a class="u-url" href="{{ bookmark.url | safe }}">{{ bookmark.name | safe }}</a></h3>

        <div class="about-bookmark">
            <div class="bookmark-tags">
                {% for tag in bookmark.tags %}
                    <a href="/tags/{{tag}}">#{{tag}}</a>
                {% endfor %}
            </div>
            <time>{{ bookmark.creation_time | date(format="%Y-%m-%d %H:%M", timezone="Asia/Vladivostok") }}</time>
                <!-- <a href="/date?d={{ bookmark.creation_time | date(format="%Y-%m-%d") }}/"></a></time> -->
        </div>
    </article>
    {% endfor %}
{% endblock main %}
{% block rightbar %}
    <details>
        <summary>Add bookmarks from file</summary>
        <form method="POST" enctype="multipart/form-data">
            <div>
                <input type="file" id="file" name="file" multiple />
            </div>
            <div>
                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
    </details>
    <details>
        <summary>Add bookmarks from clipboard</summary>
        <form class="add-bookmarks" method="POST">
            <div>
                <textarea name="urls"></textarea>
            </div>
            <div>
                <button class="btn" type="submit">Save</button>
            </div>
        </form>
    </details>
{% endblock rightbar %}
