*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --light-bg-color: #eee;
  --light-article-bg-color: white;
  --dark-bg-color: #111111;
  --dark-article-bg-color: #6f6e6e;
}
html {
  background: var(--light-bg-color);
  padding: 0;
}
body {
  font-family: sans-serif;
  word-break: break-word;

  display: grid;
  grid-template-columns: 1fr 4fr 1.5fr;
  grid-template-areas: "header main footer";
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

article .tags-list {
  display: grid;
  grid-template: "a a";
  grid-auto-columns: max-content;
}

header {
  padding: 0 4px;
  position: sticky;
}
header ul {
  padding: 0;
  margin: 8px 0;
}
header li,
article li {
  list-style-type: none;
  padding: 4px 8px;
}
main > article:first-of-type {
  margin-top: 0;
}
main > article {
  background: var(--light-article-bg-color);
  border-radius: 3px;
  padding: 10px;
}
article + article {
  margin-top: 1px;
}
article p:last-of-type:not(.h-entry p) {
  margin-bottom: 0;
}
.right-bar {
  margin-left: 6px;
}

.edit-bookmark-buttons {
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
a.delete-bookmark-btn {
  font-size: small;
  color: red;
}
.edit-bookmark-btn,
.edit-bookmark-btn:visited {
  font-size: small;
  color: blue;
}
a.edit-bookmark-btn:link,
a.delete-bookmark-btn:link {
  text-decoration: none;
}

.infolink:after {
  content: "?";
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
  line-height: 0.8em;
  border-radius: 50%;
  margin-left: 4px;
  padding: 0.13em 0.2em 0.09em 0.2em;
  color: inherit;
  border: 1px solid;
  text-decoration: none;
}

.about-bookmark {
  display: flex;
  font-size: small;
  font-style: italic;
}
.about-bookmark time {
  margin-left: auto;
}
.u-bookmark-of {
  display: inline-block;
  font-size: small;
  text-decoration: none;
}
h3 {
  margin-bottom: 4px;
}
dt {
  font-weight: bold;
}
dd + dt {
  margin-top: 8px;
}
.mv-categories ol {
  padding-left: 1rem;
}
.mv-categories li {
  line-height: 150%;
}
.categories {
  display: flex;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 4px 0;
}
.categories li {
  list-style-type: none;
}
.categories li + li {
  margin-left: 8px;
}
.categories a {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
}
form {
  max-width: 30rem;
  margin: 5px auto;
}
form > label + label {
  margin-top: 16px;
}
form label {
  display: block;
  margin-bottom: 8px;
}
div input {
  width: 100%;
}
form input[type="submit"] {
  min-width: 50%;
  max-width: 15rem;
  margin-top: 8px;
}
form textarea {
  max-width: 100%;
  height: 100px;
  padding: 1px;
}
.input-caption {
  font-size: small;
  margin: 4px 0;
}
h2 {
  margin: 0;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-size: 1.2rem;
  font-family: Iosevka, sans-serif;
}
.h-entry h3 {
  margin: 0;
  font-size: medium;
}
h2 + *:not(p, .u-bookmark-of),
h3 + *:not(p, .u-bookmark-of) {
  margin-top: 8px;
}

.about-bookmark a,
.about-bookmark .empty-set {
  margin-left: 0.25rem;
}

.btn {
  /* border-radius: 0; */
  padding: 0.1rem 0.75rem;
  font-size: 0.9rem;
  transition: background 0.1s linear;

  background: #0062cc;
  border: #001933 1px solid;
  color: white;

  display: block;
  /* width: 100%; */
  margin-top: 5px;
}
header a,
header a:hover,
header a:visited {
  color: black;
}
.about-bookmark a {
  color: black;
}
.u-url,
.u-url:visited {
  color: cornflowerblue;
}
