*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: initial;
}

:root {
  --light-bg-color: white;
  --light-article-bg-color: white;
  --light-font-color: black;
  --dark-bg-color: #232325;
  --dark-article-bg-color: #232325;
  --dark-font-color: white;
  --second-font-color: #aad;
  --hr-color: #aad;
  --url-color: black;
}

@media screen and (max-width: 40rem) {
  body {
    grid-template-areas:
      "header"
      "footer"
      "main";
    grid-row-gap: 8px;
    margin: 0;
  }
  header {
    margin: 8px 0 0 4px;
  }
  h2,
  header ul,
  header li {
    overflow-x: scroll;

    display: inline;
    line-height: 150%;
    margin-right: 4px;
  }
  header li {
    white-space: nowrap;
  }
  h2 {
    font-size: medium;
  }
  main > article {
    padding: 8px;
  }
}

@media screen and (min-width: 40rem) {
  body {
    word-break: break-word;

    display: grid;
    grid-template-columns: 1.35fr 4fr 1.25fr;
    grid-template-areas: "header main footer";

    background-color: var(--light-bg-color);
    color: var(--light-font-color);
    --article-bg-color: var(--light-article-bg-color);
    --tag-hover-color: black;

    font-family: Arial, Noto Emoji, sans-serif;
  }

  h2 {
    margin: 0px 4px 10px 0px;
    font-size: larger;
  }
}
.dark {
  background: var(--dark-bg-color);
  color: var(--dark-font-color);
  --article-bg-color: var(--dark-article-bg-color);
  --tag-hover-color: white;
  --url-color: white;
}
main {
  grid-area: main;
  padding: 8px 30px;
}
header {
  grid-area: header;
}
footer {
  grid-area: footer;
}

input {
  width: 100%;

  background-color: inherit;
  color: inherit;
}
input[type="checkbox"] {
  width: auto;
  visibility: hidden;
}
input[type="checkbox"]:checked {
  visibility: visible;
}
.bookmark:hover > input[type="checkbox"] {
  visibility: visible;
}
input[type="date"] {
  cursor: pointer;
}
textarea {
  width: 100%;
  height: 150px;
  resize: vertical;

  background-color: inherit;
  color: inherit;
}

#group-buttons {
  position: sticky;
  top: 20px;
  margin-bottom: 10px;
}

.btn {
  display: block;
  margin-top: 4px;

  padding: 0.1rem 0.75rem;
  font-size: 0.9rem;
  transition: background 0.1s linear;

  background-color: #2d53a0;
  border: #001933 1px solid;
  color: white;
}

/* Header */
header ul {
  padding: 0;
}
header li {
  list-style-type: none;
  padding: 4px 0;
}
header a {
  color: inherit;
  text-decoration: none;
}

nav {
  position: sticky;
  top: 15px;
}

form.search {
  display: flex;
  column-gap: 4px;
}
form.search p {
  font-size: small;
  margin: 4px auto;
}
form.search a {
  text-decoration: none;
}

/* Main */
#checked-articles {
  overflow-y: scroll;
  height: 90vh;
  scrollbar-width: none;
}
#checked-articles::-webkit-scrollbar {
  display: none;
}

.bookmark {
  display: flex;
  align-items: flex-start;
}
.bookmark > h4 {
  margin: 0 10px 0 0;
  text-align: justify;
}
.bookmark > h4 > a {
  color: var(--url-color);
}

article {
  background-color: var(--article-bg-color);
}
article a {
  text-decoration: none;
  color: var(--second-font-color);
}
article:has(div > div > a[href$="imp"]) > div > h4 > a {
  color: #2d53a0;
}
article:has(div > div > a[href$="best"]) > div > h4 > a {
  color: cornflowerblue;
}
article:has(div > div > a[href$="todo"]) > div > h4 > a {
  color: #f55;
}
article:has(div > div > a[href$="done"]) > div > h4 > a {
  color: #5a5;
}
article:has(div > div > a[href$="dup"]) > div > h4 > a {
  color: #ddf !important;
}
article > div > div > a[href$="dup"] {
  display: none;
}

.bookmark-buttons {
  margin-left: auto;
  display: flex;
  column-gap: 4px;

  visibility: hidden;
}
.bookmark:hover > .bookmark-buttons {
  visibility: visible;
}

.bookmark-buttons > button:nth-child(1) {
  color: orange;
}
.bookmark-buttons > button:nth-child(2) {
  font-family: Noto Emoji;
}
.bookmark-buttons > button:nth-child(3) {
  color: pink;
}
.bookmark-buttons > button:nth-child(4) {
  color: skyblue;
}

.description {
  margin-top: 10px;
  text-align: justify;

  padding-left: 1em;
  border-left: 2px solid #ccd;
}

.about-bookmark {
  display: flex;
  font-size: small;
  font-style: italic;
  margin-top: 10px;
  margin-left: 20px;
}
.about-bookmark a:hover {
  color: var(--tag-hover-color);
  text-decoration-line: underline;
}
time {
  margin-left: auto;
  color: var(--second-font-color);
}

hr {
  margin: 1em 0;
  color: var(--hr-color);
  margin-left: 20px;
}

/* Right bar */
.right-bar {
  margin-top: 8px;
}
.choose-date {
  margin-top: 8px;
  width: auto;
}
.pages {
  margin-top: 8px;
}

/* Edit page */
.edit-bookmark-form {
  max-width: 45rem;
  margin: auto;
  font-size: 14px;
}
.edit-bookmark {
  width: 100%;
  margin: 10px auto;
}

/* Tags page */
.tags-list {
  display: grid;
  grid-template: "buttons tagname count";
  grid-auto-columns: max-content;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.tags-list h4 {
  margin: 0;
}
.tags-list a {
  color: var(--url-color);
  text-decoration: none;
}

.hx-button {
  background: none;
  border: none;
  padding: 0;

  font-family: Noto Emoji;
  font-size: medium;
}

.hx-button:hover {
  cursor: pointer;
}

.tags-list > div > button:nth-child(1) {
  color: skyblue;
}

.tags-list > div > button:nth-child(2) {
  color: pink;
}

.tags-list > div > button {
  visibility: hidden;
}

.tags-list > div:hover > button {
  cursor: pointer;
  visibility: visible;
}

/* Autocomplete */
input:focus {
  outline: none;
}

#bookmark-tags {
  margin-bottom: 0;
  border-color: lightgray;
}

#autocomplete {
  margin: 0 0 14px 0;
  padding: 0;
  list-style: none;
  max-height: 10em;
  overflow: auto;
  white-space: nowrap;

  border: 2px solid lightgray;
  border-top: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#autocomplete:focus {
  outline: none;
}

#autocomplete > li {
  padding-left: 2px;
}

#autocomplete > li:focus {
  outline: none;
  background: cornflowerblue;
}
