*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --light-bg-color: white;
  /* #c8cfdd; */
  /* rgb(232, 240, 246);  */
  /* #e8e9ec; */
  /* c8cfdd */
  /* --light-bg-color: #a7bf8d; */
  /* rgb(230, 247, 225); */
  --light-article-bg-color: white; /* #e8e9ec; */
  --light-font-color: black; /* #494f6d; #7c86b9; */
  --dark-bg-color: #232325; /* #161821 */
  --dark-article-bg-color: #2a2b2d;
  --dark-font-color: white;
  --second-font-color: #ccd;
  --hr-color: #ccd;
  --url-color: #2d53a0; /* #2d53a0; #415f19; #708e34; */
}
/* .fullwhite-theme {} */
/* .light-theme {} */
/* .dark-theme {} */
/* .iceberg-theme {} */
/* .green-theme {} */

@media screen and (max-width: 40rem) {
  body {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-row-gap: 8px;
    margin: 0;
  }
  header {
    margin: 8px 0 0 4px;
  }
  h1,
  header ul,
  header li {
    display: inline;
    line-height: 150%;
    margin-right: 4px;
  }
  header li {
    white-space: nowrap;
  }
  h1 {
    font-size: medium;
  }
  main > article {
    padding: 8px;
  }
}

@media screen and (min-width: 40rem) {
  body {
    word-break: break-word;

    display: grid;
    grid-template-columns: 1.25fr 4fr 1.25fr;
    grid-template-areas: "header main footer";

    background: var(--light-bg-color);
    color: var(--light-font-color);
    --article-bg-color: var(--light-article-bg-color);
    /* --font-color: var(--light-font-color); */

    font-family: Iosevka Aile, Iosevka Aile Web, Arial, Noto Emoji, sans-serif;
  }

  h1 {
    margin: 0px 4px 10px 0px;
  }
}
.dark-mode {
  background: var(--dark-bg-color);
  color: var(--dark-font-color);
  --article-bg-color: var(--dark-article-bg-color);
  /* --font-color: var(--dark-font-color); */
}
/* main {
  grid-area: main;
} */
/* header {
  grid-area: header;
}
footer {
  grid-area: footer;
} */

input {
  width: 100%;
}

/* .emoji {
 font-family: "Noto Emoji"; */
/* font-size: medium; */
/* width: 25px;
  text-align: center; 
} */

.btn {
  display: block;
  margin-top: 4px;

  padding: 0.1rem 0.75rem;
  font-size: 0.9rem;
  transition: background 0.1s linear;

  background: var(--url-color); /* #0062cc; */
  border: #001933 1px solid;
  color: white;
}

/* Header */
header ul {
  padding: 0;
  font-size: large;
}
header li {
  list-style-type: none;
  padding: 4px 0;
}
header a {
  color: var(--font-color);
  text-decoration: none;
}

nav {
  position: sticky;
  top: 15px;
}

form.search {
  display: flex;
  column-gap: 4px;
}
form.search p {
  font-size: small;
  margin: 4px auto;
}
form.search a {
  text-decoration: none;
}

.favorite-tags {
  padding-left: 40px;
}

/* Main */
article {
  padding: 15px 25px;
  border-radius: 4px;
  background: var(--article-bg-color);
}
article a {
  text-decoration: none;
  text-align: center;
  color: var(--second-font-color);
}

.imp {
  background: #efe;
}

.bookmark {
  display: flex;
}
.bookmark > h4 {
  margin: 2px 10px 10px 0;
  /* font-size: medium; */
  text-align: justify;
}
.bookmark > h4 > a {
  color: var(--url-color);
}

.bookmark-buttons {
  margin-left: auto;
  display: flex;
  column-gap: 4px;

  visibility: hidden;
}
.bookmark:hover > .bookmark-buttons {
  visibility: visible;
}

.bookmark-buttons > a:nth-child(1) {
  color: orange;
}
.bookmark-buttons > a:nth-child(2) {
  font-family: Noto Emoji;
}
.bookmark-buttons > a:nth-child(3) {
  color: skyblue; /* #77b9ff a2d2ff; */
}
.bookmark-buttons > a:nth-child(4) {
  color: pink; /* ffafcc */
}

.description {
  /* margin: 8px 10px; */
  margin: 8px 0;
  text-align: justify;

  /* border: 1px solid lightgray;
  padding: 5px; */
  border-left: 2px solid #ccd;
  padding-left: 1em;
}

.about-bookmark {
  display: flex;
  font-size: small;
  font-style: italic;
  margin-top: 5px;
}
/* .about-bookmark a {
  color: var(--second-font-color);
} */
.about-bookmark a:hover {
  color: black;
  text-decoration-line: underline;
}
time {
  margin-left: auto;
  color: var(--second-font-color);
}

hr {
  margin: 0 25px;
  color: var(--hr-color);
}

/* Pages */
.pages {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 15em;
}
.pages a {
  /* color: var(--font-color); */
  text-decoration: none;
}

/* Right bar */
.right-bar form {
  margin: 4px auto;
}

.choose-date {
  margin-top: 8px;
  width: auto;
}

/* Form */
textarea {
  width: 100%;
  height: 150px;
  resize: vertical;
}

/* Edit page */
.edit-bookmark-form {
  max-width: 40rem;
  margin: auto;
}
.edit-bookmark {
  width: 100%;
  margin: 10px auto;
}

/* Tags page */
.tags-list {
  display: grid;
  grid-template: "a a a";
  grid-auto-columns: max-content;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.tags-list > h4 {
  margin: 0;
}
.tags-list a {
  color: var(--url-color);
  text-decoration: none;
}

.tag-edit-buttons > button {
  background: none;
  border: none;
  padding: 0;
  color: skyblue;

  visibility: hidden;
  /* font-family: Noto Emoji; */
}

.tag-edit-buttons > a {
  color: pink;

  visibility: hidden;
}

.tag-edit-buttons:hover > button {
  cursor: pointer;
  visibility: visible;
}
.tag-edit-buttons:hover > a {
  visibility: visible;
}
