<!DOCTYPE html>
<html>
    {% include 'head.html' %}
    <body>
        <script>
            function renameTag(tag_name) {
                var form = `<form action="/rename-tag/${tag_name}" method="POST">
                                <input type="text" value="${tag_name}" name="new">
                                <input type="submit" hidden>
                            </form>`

                document.getElementById(tag_name).outerHTML = form;
            }

            function toggleTheme() {
                var theme = window.localStorage.getItem("theme");
                if (theme === "dark") {
                    window.localStorage.setItem("theme", "light");
                } else {
                    window.localStorage.setItem("theme", "dark");
                }
                document.body.classList.toggle("dark");
            }

            document.body.classList.add(window.localStorage.getItem("theme"));
        </script>
        <header>
            <nav>
                <h2>Tags {{ tags | length }}</h2>
                {% include 'nav.html' %}
            </nav>
        </header>
        <main>
            <article class="tags-list">
                {% for tag in tags %}
                    <div>
                        <button class="hx-button" onclick="renameTag('{{ tag.tag_name }}')">&#x270F;</button>
                        <button class="hx-button" hx-delete="/delete-tag/{{ tag.tag_name }}" hx-swap="none" hx-confirm="Are you sure?">&#x1F5D1;</button>
                        <button class="hx-button" hx-put="/set-favorite/{{ tag.tag_name }}" hx-swap="none" hx-confirm="Are you sure?">&#x1F5A4;</button>
                    </div>
                    <h4 id="{{ tag.tag_name }}"><a href="/tags/{{ tag.tag_name }}">{{ tag.tag_name }}</a></h4>
                    <span>{{ tag.bookmarks_count }}</span>
                {% endfor %}
            </article>
        </main>
    </body>
</html>
